/* Reset / Normalize */

@import 'normalize.css';

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
p,
pre,
blockquote,
figure,
hr {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

input,
textarea,
select,
button {
    color: inherit;
    font: inherit;
}

input,
textarea,
button {
    border: 1px solid grey;
}

button {
    padding: 0.25em 1em;
    border-radius: 0;
    background-color: transparent;
}

button > * {
    pointer-events: none;
}

embed,
iframe,
img,
object,
video {
    display: block;
    max-width: 100%;
}

table {
    table-layout: fixed;
    width: 100%;
}

/* Variables */

:root {
    /* Font family */
    --font-family: 'Nunito', system-ui;

    /* Type scale */
    --font-size-0: 0.75rem;
    --font-size-1: 0.875rem;
    --font-size-2: 1rem;
    --font-size-3: 1.125rem;
    --font-size-4: 1.25rem;
    --font-size-5: 1.5rem;
    --font-size-6: 1.875rem;
    --font-size-7: 2.25rem;
    --font-size-8: 3rem;
    --font-size-9: 3.75rem;
    --font-size-10: 4.5rem;

    /* Spacing */
    --spacing-0: 0.25rem;
    --spacing-1: 0.5rem;
    --spacing-2: 0.75rem;
    --spacing-3: 1rem;
    --spacing-4: 1.5rem;
    --spacing-5: 2rem;
    --spacing-6: 3rem;
    --spacing-7: 4rem;
    --spacing-8: 6rem;
    --spacing-9: 8rem;
    --spacing-10: 12rem;
    --spacing-11: 16rem;
    --spacing-12: 24rem;
    --spacing-13: 32rem;
    --spacing-14: 40rem;
    --spacing-15: 48rem;

    /* Colors - Grey */
    --grey-900: #102a43;
    --grey-800: #243b53;
    --grey-700: #334e68;
    --grey-600: #486581;
    --grey-500: #627d98;
    --grey-400: #829ab1;
    --grey-300: #9fb3c8;
    --grey-200: #bcccdc;
    --grey-100: #d9e2ec;
    --grey-000: #f0f4f8;
}

body:not(.user-is-tabbing) button:focus,
body:not(.user-is-tabbing) input:focus,
body:not(.user-is-tabbing) select:focus,
body:not(.user-is-tabbing) textarea:focus {
    outline: none;
}

/* Global Styles */

body {
    font-family: var(--font-family);
    line-height: 1;
    color: #0c008c;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: var(--grey-000);
    overflow-x: hidden;
}

.app {
    position: relative;
}

.carbon-wrapper {
    min-height: 125px;
    margin-top: var(--spacing-3);
    margin-bottom: var(--spacing-3);
}

#carbonads {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    max-width: 330px;
    background-color: hsl(0, 0%, 98%);
    box-shadow: 0 1px 4px 1px hsla(0, 0%, 0%, 0.1);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
        Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', Helvetica, Arial,
        sans-serif;
}

#carbonads a {
    color: inherit;
    text-decoration: none;
}

#carbonads a:hover {
    color: inherit;
}

#carbonads span {
    position: relative;
    display: block;
    overflow: hidden;
}

#carbonads .carbon-wrap {
    display: flex;
}

.carbon-img {
    display: block;
    margin: 0;
    line-height: 1;
}

.carbon-img img {
    display: block;
}

.carbon-text {
    font-size: 13px;
    padding: 10px;
    line-height: 1.5;
    text-align: left;
}

.carbon-poweredby {
    display: block;
    padding: 8px 10px;
    background: repeating-linear-gradient(
            -45deg,
            transparent,
            transparent 5px,
            hsla(0, 0%, 0%, 0.025) 5px,
            hsla(0, 0%, 0%, 0.025) 10px
        )
        hsla(203, 11%, 95%, 0.4);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-weight: 600;
    font-size: 9px;
    line-height: 1;
}
